<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Form</h1>
    {% if messages %}
    {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
    {% endfor %}
    {% endif %}
    <form action="login/" method="post">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" name="password" id="">
        </div>
        <input type="submit" value="Login">
    </form>
</body>

</html>